* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.error {
  color: black;

}



body {
  color: rgba(3, 0, 0, 0.89);
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 92%;
  margin: 4px auto;
  height: 11vh;
  align-items: center;
  margin-left: -51px;

}
.zone{

  background-color: brown;
  height: 108px;
  margin: 29px auto;
  width: 50%;
}




.logo-container,
nav {
  flex: 1;
  animation: all 1s ease;
}

nav {
  flex: 2;
}

ul,
.logo-container {
  animation: drop 2s ease;
}

.logo-container:hover {
  transform: rotate(10deg);
}

.logo-container,
.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: rgba(65, 65, 65, 0.233);
  animation: all 4s ease;

}

.nav-link:hover {
  color: rgb(8, 63, 114);


}

ul li:hover {
  box-shadow: none;
  animation: all 5s ease;

}

ul li {
  border: 2px solid black;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 3px 3px gainsboro;

}

.father {
  border: 2px solid gray;
  width: 332px;
  height: 380px;
  margin: 110px 92px;
}

h3 {
  text-align: center;
}

img {
  width: 50px;
  opacity: 0.6;
  margin-top: 8px;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translatexy(100deg);
  }

  100% {
    opacity: 0.9;
    transform: translatey(0deg);
  }
}
input{
  padding: 15px;
  background: rgb(10, 194, 201);
  border-radius: 16px;
  display: block;
  margin: auto;
}
button{
  color: rgb(144, 128, 235);
  padding: 15px;
  border-radius: 15px;
  display: block;
  margin: auto;


}
.raja{
text-align: center;
}
.succ{
  border: 3px solid hsla(135, 82%, 26%, 0.966);
}
.error{
  border: 3px solid red;
}